@import "tailwindcss";

@theme {
  --color-alu-green: #76b82a;
  --color-alu-gray: #4a4a4a;
  --color-alu-dark: #1a1a1a;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-white text-alu-dark antialiased;
  }
}
